{% extends "umauma_happy_app/base.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <h2 class="text-center">レース一覧</h2>
    </div>
</div>
<div class="row">
    {% if race_list %}
      {% for race in race_list %}
        <div class="col-12 col-md-4 mt-3">
          <div class="card" style="width: 20rem; margin: 0 auto;">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'umauma_happy_app:purchase' race.id %}">{{ race.name }}
              </h4>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No race.</p>
    {% endif %}
</div>
{% endblock content %}
