<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/self_analysis/detail.css">
</head>
    <meta charset="UTF-8">
    <title>detail</title>
<br>

<body>
    <h1>{{ user.name }}の成績</h1>
    <div class="simple">
        <font size="+2">要素別的中回数</font>
    <table border="1">
        <tr>
            <th>注目した要素</th>
            <th>購入回数</th>
            <th>的中回数</th>
            <th>的中率</th>
        </tr>
        {% for key,value in factor_counter.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.use }}</td>
            <td>{{ value.hit }}</td>
            <td>{{ value.percentage }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div class="combination">
        <font size="+2">要素の組み合わせで見た的中回数</font>
    <table border="1">
        <tr>
            <th>注目した要素群</th>
            <th>的中回数</th>
        </tr>
        {% for factor_pattern, number in hit_factor_pattern %}
        <tr>
            <td>
                {% for factor in factor_pattern %} {{ factor.name }} {% endfor%}
            </td>
            <td>{{ number }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>

