<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
<br>
    <p1>
    <h1>{{ user.name }}成績</h1>
    要素別的中回数
    <table border="1">
        <tr>
            <th>注目した要素</th>
            <th>的中回数</th>
        </tr>
        {% for num,factor in hit_rank_list %}
        <tr>
            <td>{{ factor.name }}</td>
            <td>{{ num }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>

    要素の組み合わせで見た的中回数
    <table border="1">
        <tr>
            <th>注目した要素群</th>
            <th>的中回数</th>
        </tr>
        {% for num, factor_pattern in hit_factor_pattern %}
        <tr>
            <td>
                {% for fac in factor_pattern %} {{ fac.name }} {% endfor%}
            </td>
            <td>{{ num }}</td>
        </tr>
        {% endfor %}
    </table>

    </p1>

</head>
</html>