{% extends "umauma_happy_app/base.html" %}

{% block content %}
<div class="row mt-5">
    {% if user_list %}
        {% for user in user_list %}
        <div class="col-12 col-md-4 mt-3">
            <div class="card" style="width: 20rem; margin: 0 auto;">
                <div class="card-body">
                <h4 class="card-title">
                    <a href="{% url 'self_analysis:detail' user.id %}">{{ user.name }}</a>
                </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12 col-md-4 mt-3">
            <div class="card" style="width: 20rem; margin: 0 auto;">
              <div class="card-body">
                <h4 class="card-title">
                    No user.
                </h4>
              </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}