<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>他者分析：計算結果</title>
<br>
    <p1>
    <h1>要素別的中率</h1>
    {% for analysis_number in analysis_number_samples %}
        <li><a href="{% url 'social_analysis:calculate' analysis_number %}">要素数{{ analysis_number }}で試す</a></li>
    {% endfor %}
    <h4>使用要素数：{{ analysis_number }}</h4>
    <table border="1">
        <tr>
            <th>要素名</th>
            <th>使用回数</th>
            <th>的中回数</th>
            <th>的中率</th>
        </tr>
        {% for key, value in factor_count.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.use }}</td>
            <td>{{ value.hit }}</td>
            <td>{{ value.percentage }}%</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    </p1>

</head>
</html>